@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scroll-apply::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: #0b101a;
}

::-webkit-scrollbar-thumb {
  background: #ebe9e9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dadada;
}
.custom-class-nav{
  border-radius: 6px;
  

}
.custom-class-nav .custom-class-nav-item{
  padding: 10px 15px;
}
.custom-class-nav .custom-class-nav-item:hover{
  background-color: #fff;
  color: #0086ff;
  border-radius: 6px;
}
.custom-class-nav .custom-class-nav-item .absolute{
  bottom: -28px;
}
.custom-class-nav-tooltip{
  width:fit-content;
  max-width: 108px;
  white-space: nowrap;
}
.seprator{
  background-color: #dedede;
  height: 100%;
  width: 1px;
}