@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #2f2f2f;
  --color-secondary: #787878;
  --color-tertiary: #505050;
  --font-montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f2f2f;;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Removes all default margins */
  padding: 0; /* Ensures no extra padding */
  display: block; /* Default behavior */
}

.color-secondary{
  color: var(--color-secondary)
}
.color-tertiary{
  color:var(--color-tertiary)
}

.custom-scroll-apply::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: #0b101a;
}

::-webkit-scrollbar-thumb {
  background: #ebe9e9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dadada;
}

.custom-card{
  background: #fff;
  border-radius: 50px;
  box-shadow: 25px 25px 50px #bebebe, 
             -25px -25px 50px #ffffff;
}
.nav-bg{
  background-color: #011327;
  padding:0px 20px
}