@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgb(21 19 18);
  --font-montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(21 19 18);
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: var(--font-montserrat);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Removes all default margins */
  padding: 0; /* Ensures no extra padding */
  display: block; /* Default behavior */
}


.custom-scroll-apply::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: #0b101a;
}

::-webkit-scrollbar-thumb {
  background: #ebe9e9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dadada;
}